<mat-toolbar class="navbar" color="primary">
  <div>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
    <button mat-button [matMenuTriggerFor]="employeeMenu" *ngIf="loginService.isUserLoggedIn()" >Employee</button>
    <mat-menu #employeeMenu="matMenu" xPosition="after">
      <button mat-menu-item>
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
      </button>
      <button mat-menu-item>
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
      </button>
    </mat-menu>
  </div>
  <div>
    <button mat-button *ngIf="!loginService.isUserLoggedIn()">
      <a routerLink="register" class="nav-link" routerLinkActive="active">Register</a>
    </button>
    <button mat-button *ngIf="!loginService.isUserLoggedIn()">
      <a routerLink="login" class="nav-link" routerLinkActive="active">LogIn</a>
    </button>
    <button mat-button *ngIf="loginService.isUserLoggedIn()" >
    <a routerLink="logout" class="nav-link" routerLinkActive="active">LogOut</a>
    </button>
  </div>
</mat-toolbar>
